<div class="row">
  <div class="col-sm-3">
<h3>Game Vals</h3>
Player Name: <%= @game.player_name %>
<br>
Current Turn: <%= @game.current_turn %>
<br>
Draw Pile Remaining: <%= @game.draw_pile_remaining %>
<br>
Draw Pile Card: <%= @game.draw_pile_card %>
</div>
<div class="col-sm-4 col-offset-4">
<h3>Player Vals</h3>
<% if @players.any? %>
<ul>
  <% @players.each do |player|%>
    <li>Player Name: <%= player.player_name %></li>
  <% end %>
</ul>
<% end %>
<br>
</div>
</div>

<h3>Card Vals</h3>
<p>Draw Pile Cards<i>(should be same as game value above)</i>: <%= @draw_pile.length %></p>
<br>
<div class="row">
  <div class="col-sm-6">
<i>Player Cards</i>
<% if @player_cards.any? %>
  <ul>
    <% @player_cards.each do |card| %>
      <% if card.card_type == "number" %>
        <li>Card Type: <%= card.card_type %> | Card Number: <%= card.number %> | Card Color: <%= card.color %></li>
      <% else %>
        <li>Card Type: <%= card.card_type %> | Card Action: <%= card.card_action %> | Card Color: <%= card.color %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<br>
</div>
<div class="col-sm-6">
<i>Opponent Cards</i>
<% if @opponent_cards.any? %>
  <ul>
    <% @opponent_cards.each do |card| %>
      <% if card.card_type == "number" %>
        <li>Card Type: <%= card.card_type %> | Card Number: <%= card.number %> | Card Color: <%= card.color %></li>
      <% else %>
        <li>Card Type: <%= card.card_type %> | Card Action: <%= card.card_action %> | Card Color: <%= card.color %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div>
