<%= link_to "Back to Index", games_path %>

<div class="row">
  <div class="col-sm-12">
    <i>Opponent Cards | Total: <%= @opponent_cards.length %></i>
    <br>
    <% if @opponent_cards.any? %>
        <% @opponent_cards.each do |card| %>
        <% if card.card_type == "number" %>
          <%= image_tag(card.color + card.number.to_s + '.jpeg', size: '50x80') %>
        <% elsif card.card_type == "special" %>
          <%= image_tag(card.color + card.card_action + '.jpeg', size: '50x80') %>
        <% else %>
          <%= image_tag(card.card_type + card.card_action + '.jpeg', size: '50x80') %>
        <% end %>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h3>Card Vals</h3>
    <p>Draw Pile Cards: <%= @draw_pile.length %></p>
    <p>Discard Pile Cards: <%= @discard_pile.length %></p>
    <br>
  </div>
  <div class="col-sm-3">
    <h3>Draw Pile Card</h3>
    <% @draw_card.each do |card| %>
      <% if card.card_type == "number" %>
        <%= image_tag(card.color + card.number.to_s + '.jpeg', size: '50x80') %>
      <% elsif card.card_type == "special" %>
        <%= image_tag(card.color + card.card_action + '.jpeg', size: '50x80') %>
      <% else %>
        <%= image_tag(card.card_type + card.card_action + '.jpeg', size: '50x80') %>
      <% end %>
    <% end %>
    <%= link_to image_tag("unoBack.jpeg", size: '50x80'), draw_card_path %>
  </div>
  <div class="col-sm-3">
    <h3>Game Vals</h3>
    Player Name: <%= @game.player_name %>
    <br>
    Current Turn: <%= @current_turn.player_name %>
  </div>
  <div class="col-sm-3">
    <h3>Player Vals</h3>
    <% if @players.any? %>
      <ul>
        <% @players.each do |player|%>
          <li>Player Name: <%= player.player_name %></li>
        <% end %>
      </ul>
    <% end %>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <i>Player Cards | Total: <%= @player_cards.length %></i>
    <br>
    <% if @player_cards.any? %>
        <% @player_cards.each do |card| %>
          <% if card.card_type == "number" %>
            <% if card.color == @draw_card.first.color || card.number == @draw_card.first.number || card.card_action != nil && card.card_action == @draw_card.first.card_action %>
              <%= link_to image_tag(card.color + card.number.to_s + '.jpeg', size: '50x80'), card_path(card), :method => :put %>
            <% else %>
              <%= image_tag(card.color + card.number.to_s + '.jpeg', size: '50x80') %>
            <% end %>
          <% elsif card.card_type == "special" %>
            <% if card.color == @draw_card.first.color || card.number == @draw_card.first.number || card.card_action != nil && card.card_action == @draw_card.first.card_action %>
              <%= link_to image_tag(card.color + card.card_action + '.jpeg', size: '50x80'), card_path(card), :method => :put %>
            <% else %>
              <%= image_tag(card.color + card.card_action + '.jpeg', size: '50x80') %>
            <% end %>
          <% else %>
            <% if card.color == @draw_card.first.color || card.number == @draw_card.first.number || card.card_action != nil && card.card_action == @draw_card.first.card_action %>
              <%= link_to image_tag(card.card_type + card.card_action + '.jpeg', size: '50x80'), card_path(card), :method => :pit %>
            <% else %>
              <%= image_tag(card.card_type + card.card_action + '.jpeg', size: '50x80') %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    <br>
  </div>
</div>
